#

In [1]:
import os
import pandas as pd

In [2]:
#Store filepath in a variable
data_2013 = os.path.join('resources', '201306-citibike-tripdata.csv')
data_201901 = os.path.join('resources', '201901-citibike-tripdata.csv')
data_201902 = os.path.join('resources', '201902-citibike-tripdata.csv')
data_201903 = os.path.join('resources', '201903-citibike-tripdata.csv')
data_201904 = os.path.join('resources', '201904-citibike-tripdata.csv')
data_201905 = os.path.join('resources', '201905-citibike-tripdata.csv')
data_201906 = os.path.join('resources', '201906-citibike-tripdata.csv')
data_201907 = os.path.join('resources', '201907-citibike-tripdata.csv')
data_201908 = os.path.join('resources', '201908-citibike-tripdata.csv')
data_201909 = os.path.join('resources', '201909-citibike-tripdata.csv')
data_201910 = os.path.join('resources', '201910-citibike-tripdata.csv')
data_201911 = os.path.join('resources', '201911-citibike-tripdata.csv')
data_201912 = os.path.join('resources', '201912-citibike-tripdata.csv')
data_202001 = os.path.join('resources', '202001-citibike-tripdata.csv')

In [5]:
data_2013_df = pd.read_csv(data_2013)
#data_2013_df.head()
data_201901_df = pd.read_csv(data_201901)
data_201902_df = pd.read_csv(data_201902)
data_201903_df = pd.read_csv(data_201903)
data_201904_df = pd.read_csv(data_201904)
data_201905_df = pd.read_csv(data_201905)
data_201906_df = pd.read_csv(data_201906)
data_201907_df = pd.read_csv(data_201907)
data_201908_df = pd.read_csv(data_201908)
data_201909_df = pd.read_csv(data_201909)
data_2019010_df = pd.read_csv(data_201910)
data_2019011_df = pd.read_csv(data_201911)
data_201912_df = pd.read_csv(data_201912)
data_202001_df = pd.read_csv(data_202001)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,695,2013-06-01 00:00:01,2013-06-01 00:11:36,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,19678,Subscriber,1983.0,1
1,693,2013-06-01 00:00:08,2013-06-01 00:11:41,444,Broadway & W 24 St,40.742354,-73.989151,434.0,9 Ave & W 18 St,40.743174,-74.003664,16649,Subscriber,1984.0,1
2,2059,2013-06-01 00:00:44,2013-06-01 00:35:03,406,Hicks St & Montague St,40.695128,-73.995951,406.0,Hicks St & Montague St,40.695128,-73.995951,19599,Customer,NaN,0
3,123,2013-06-01 00:01:04,2013-06-01 00:03:07,475,E 15 St & Irving Pl,40.735243,-73.987586,262.0,Washington Park,40.691782,-73.973730,16352,Subscriber,1960.0,1
4,1521,2013-06-01 00:01:22,2013-06-01 00:26:43,2008,Little West St & 1 Pl,40.705693,-74.016777,310.0,State St & Smith St,40.689269,-73.989129,15567,Subscriber,1983.0,1